@model IEnumerable<LauzHack_Skyscanner.Controllers.Friend>

@{
    ViewData["Title"] = "MeetMyFriends";
}

<br/>
<a id="showFriendForm" href="#">Add a new friend</a>

<div id="addFriendFormDiv">
<form>
    <div class="form-group">
        <label for="Name">Name</label>
         <input type="text" class="form-control" id="Name">
    </div>
    <div class="form-group">
        <label for="Origin">Origin</label>
        <input type="text" class="form-control" id="Origin">
    </div>
    <div class="form-group">
        <label for="Destination">Destination</label>
        <input type="text" class="form-control" id="Destination">
    </div>
    <div class="checkbox">
        <label>
        <input type="checkbox" id="IsReturn">Return Journey
        </label>
    </div>
    <div class="form-group">
        <label for="DepartureDate">Departure Date</label>
        <input type="text" class="form-control" id="DepartureDate">
    </div>
    <div class="form-group">
        <label for="ReturnDate">Return Date</label>
        <input type="text" class="form-control" id="ReturnDate">
    </div>
    <a href="#" id="addFriendToList">Add Friend to List</a>
</form>
</div>

<table class="table" id="friendList">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Origin</th>
			<th>Destination</th>
            <th>Return Journey</th>
            <th>Departure Date</th>
            <th>Return Date</th>
        </tr>
    </thead>
    <tbody>
	@if (Model.Count() > 0) 
	{
        foreach (LauzHack_Skyscanner.Controllers.Friend friend in Model) {
            <tr>
                <td>@friend.SerialNo</td>
                <td>@friend.Name</td>
                <td>@friend.Origin</td>
			    <td>@friend.Destination</td>
                <td>@friend.IsReturnJourney</td>
                <td>@friend.DepartureDate</td>
                <td>@friend.ReturnDate</td>
            </tr>
        }
	} else {
            <tr><td colspan="5">No friends added yet.</td></tr>
	}
    </tbody>
</table>

<a href="#" id="getDestinationList">Get Flights</a>

<table class="table table-striped" id="getFlights">
    <thead>
        <tr>
            <th>Friend Name</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Price</th>
            <th>Offer Details</th>
        </tr>
    </thead>
    <tbody>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>  
    </tbody>
</table>

<a href="#" id="getConnectionList">Get Connections</a>

<table class="table table-striped" id="getConnections">
    <thead>
        <tr>
            <th>Friend Name</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Price</th>
            <th>Offer Details</th>
        </tr>
    </thead>
    <tbody>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
    </tbody>
</table>

